html,
body {
    height: 100%;
    margin: 0;
    background-image: url('../contato.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.customBackground {
    background-color: rgba(12, 11, 83, 0.8);
    border-radius: 15px;
}