html,
body {
  height: 100%;
  margin: 0;
  background-image: url('../background.jpg');
}

.horizontal-center {
  position: absolute;
  bottom: 50%;
}

.opacityControl {
  opacity: 0.6;
}

.customBackground {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}